h1 {
  margin-bottom: 0;
  padding-top: 3rem;
}

input {
  height: 38px;
  margin-bottom: 0.75rem;
  border-radius: 0.25rem;
  padding-left: 0.55rem;
  letter-spacing: 0.5px;
}

form {
  display: flex;
  flex-direction: column;
}

img {
  height: 217px;
  width: 223px;
}

h3 {
  margin-bottom: 0;
}

.container {
  margin: 0 auto;
  max-width: 100%;
}

.container.lobby {
  min-height: 100vh;
}

.row {
  display: flex;
}

.row.header {
  justify-content: center;
}

.row.align-decks {
  align-items: center;
  width: 100%;
}

.column-one-eighth {
  flex-basis: calc(100%/8);
}

.column-half {
  flex-basis: 50%;
}

.column-full {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 66.94px);
  flex-basis: 100%;
}

.home-header-color {
  padding-top: 0;
}

#form-button {
  width: 223px;
  height: 38px;
  margin-bottom: 0.5rem;
}

.form-spacing {
  text-align: center;
}

.center-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
}

.name-avatar-spacing {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-avatar-img-size {
  height: 55px;
  width: 64px;
  margin-right: 1rem;
}

.player-names-size {
  margin-left: 1rem;
}

.player-deck {
  position: relative;
  margin-right: 5rem;
  margin-top: 5rem;
}

.deck-cards {
  width: 78px;
  height: 107px;
}

.deck-1 {
  position: relative;
}

.deck-2 {
  position: absolute;
  bottom: 0.35rem;
  right: 0.2rem;
}

.deck-3 {
  position: absolute;
  right: 0.4rem;
  bottom: 0.45rem;
}

.deck-4 {
  position: absolute;
  right: 0.6rem;
  bottom: 0.55rem;
}

.deck-5 {
  position: absolute;
  right: 0.8rem;
  bottom: 0.65rem;
}

.player-2-stretch {
  position: absolute;
  bottom: 2%;
}

#online-players-button {
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
}

.modal-text {
  padding-bottom: 0.75rem;
}

.modal-player-text {
  margin: 0.25rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
}

.modal-box {
  text-align: center;
  width: 356px;
  height: 468px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border-radius: 0.25rem;
}

.modal-box.hidden {
  display: none;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  flex-wrap: wrap;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  margin-bottom: 1rem;
}

.modal-img-spacing {
  margin-bottom: 0.25rem;
  margin-right: 0;
}

.fa-x {
  position: absolute;
  left: 3%;
  top: 3%;
  font-size: 16px;
  padding: 0;
}

.challenger-modal-box {
  height: 215px;
  width: 356px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border-radius: 0.25rem;
}

.challenger-modal-button {
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
}

.challenger-modal-img {
  margin-right: 0;
}

.vertical-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.war-multiplayer-modal-li-button {
  margin: 0;
  padding: 0;
}

.opponent-modal-box {
  height: 201px;
  width: 356px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border-radius: 0.25rem;
}

.accept-button {
  margin-right: 0.5rem;
}

.decline-button {
  margin-left: 0.5rem;
}

.match-deck {
  margin-right: 0;
  margin-top: 0.5rem;
}

.flipped-card {
  width: 76px;
  height: 111px;
}

.battlefield-row {
  height: 23.75vh;
}

.opponent-flipped {
  position: relative;
  z-index: 1;
}

.cage {
  display: flex;
  justify-content: center;
}

.bundle {
  display: flex;
  flex-grow: 0.5;
  padding-left: 0.75rem;
}

.opponent-flipped-container {
  position: relative;
  left: 6%;
  bottom: 15%;
}

.client-flipped-container {
  position: relative;
  right: 6%;
  top: 15%;
}

.client-on-top {
  position: relative;
  z-index: 2;
}

.battlefield {
  display: flex;
  flex-grow: 1;
  flex-direction: column-reverse;
  justify-content: center;
  width: 100%;
}

.side-deck {
  position: relative;
  left: -12%;
}

.flipped-card.top {
  position: absolute;
  transform: rotate(-12deg);
}

@media screen and (min-width: 768px) {
  .container {
    width: 375px;
  }

  .center-vertical {
    flex-direction: row;
  }

  .form-spacing {
    padding-top: 2.25rem;
  }

  .header-spacing {
    padding-top: 2rem;
  }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .container {
    max-width: 375px;
  }

  .header-spacing {
    padding-top: 2rem;
  }
}
