h1 {
  margin-bottom: 0;
  padding-top: 3rem;
}

input {
  height: 38px;
  margin-bottom: 0.75rem;
  border-radius: 0.25rem;
  padding-left: 0.55rem;
  letter-spacing: 0.5px;
}

form {
  display: flex;
  flex-direction: column;
}

img {
  height: 217px;
  width: 223px;
}

h3 {
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}

li {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  margin-bottom: 1rem;
}

.container {
  margin: 0 auto;
  max-width: 100%;
}

.container.lobby {
  min-height: 100vh;
}

.row {
  display: flex;
}

.row.align-decks {
  align-items: center;
  width: 100%;
}

.column-one-eighth {
  flex-basis: calc(100%/8);
}

.column-half {
  flex-basis: 50%;
}

.column-full {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 66.94px);
  flex-basis: 100%;
}

.home-header-color {
  padding-top: 0;
}

.form-button {
  width: 223px;
  height: 38px;
  margin-bottom: 0.5rem;
}

.form-spacing {
  text-align: center;
}

.center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
}

.center-horiz-vert {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-avatar-img-size {
  height: 55px;
  width: 64px;
  margin-right: 1rem;
}

.player-names-size {
  margin-left: 1rem;
}

.player-deck {
  position: relative;
  margin-right: 5rem;
  margin-top: 5rem;
}

.deck-cards {
  width: 78px;
  height: 107px;
}

.deck-1 {
  position: relative;
}

.deck-2 {
  position: absolute;
  bottom: 0.35rem;
  right: 0.2rem;
}

.deck-3 {
  position: absolute;
  right: 0.4rem;
  bottom: 0.45rem;
}

.deck-4 {
  position: absolute;
  right: 0.6rem;
  bottom: 0.55rem;
}

.deck-5 {
  position: absolute;
  right: 0.8rem;
  bottom: 0.65rem;
}

.player-2-stretch {
  position: absolute;
  bottom: 2%;
}

.player2-button {
  padding: 0;
}

#online-players-button {
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
}

.modal-text {
  padding-bottom: 0.75rem;
}

.modal-player-text {
  margin: 0.25rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
}

.modal-box {
  text-align: center;
  width: 356px;
  height: 468px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border-radius: 0.25rem;
}

.modal-img-spacing {
  margin-bottom: 0.25rem;
  margin-right: 0;
}

.fa-x {
  position: absolute;
  left: 3%;
  top: 3%;
  font-size: 16px;
  padding: 0;
}

.challenger-modal-box {
  height: 215px;
  width: 356px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border-radius: 0.25rem;
}

.challenger-modal-button {
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
}

.challenger-modal-img {
  margin-right: 0;
}

.war-multiplayer-modal-li-button {
  margin: 0;
  padding: 0;
}

.opponent-modal-box {
  height: 201px;
  width: 356px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border-radius: 0.25rem;
}

.accept-button {
  margin-right: 0.5rem;
}

.decline-button {
  margin-left: 0.5rem;
}

.match-deck {
  margin-right: 0;
  margin-top: 0.5rem;
}

.flipped-card {
  width: 76px;
  height: 111px;
}

.battlefield-row {
  height: 23.75vh;
}

.opponent-flipped {
  position: relative;
  z-index: 1;
}

.bundle {
  display: flex;
  flex-grow: 0.5;
  padding-left: 0.75rem;
}

.opponent-flipped-container {
  position: relative;
  left: 6%;
  bottom: 15%;
}

.client-flipped-container {
  position: relative;
  right: 6%;
  top: 15%;
}

.client-on-top {
  position: relative;
  z-index: 2;
}

.battlefield {
  flex-grow: 1;
  align-items: center;
  width: 100%;
}

.side-deck {
  position: relative;
  left: -12%;
}

.flipped-card.top {
  position: absolute;
  transform: rotate(-12deg);
}

.winner-modal {
  text-align: center;
  width: 375px;
  height: 193px;
  position: fixed;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border-radius: 0.25rem;
}

.winner-modal-title {
  padding: 0;
  margin: 0;
}

.winner-modal-text {
  margin: 0;
}

.trophy {
  width: 44px;
  height: 36px;
  margin-top: 0.75rem;
}

.winner-avatar {
  width: 78px;
  height: 65.24px;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.winner-modal-button {
  margin: 0.25rem;
  display: block;
  text-decoration: none;
}

.auth-modal-text {
  font-size: 24px;
  text-shadow: none;
  margin: 0;
  padding: 0;
  font-family: inter, sans-serif;
}

#password-input {
  margin-bottom: 0;
}

.input-error-message {
  margin: 0.25rem;
  text-align: left;
}

.demo-button {
  padding: 0;
}

.spinner-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border-radius: 0.25rem;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-spinner.auth {
  width: 20px;
  height: 20px;
}

.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner.auth div {
  transform-origin: 10px 10px;
}

.lds-spinner div::after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: white;
}

.lds-spinner.auth div::after {
  top: 0.75px;
  left: 9.25px;
  width: 1.5px;
  height: 4.5px;
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

.nav-bar-modal {
  width: 356px;
  position: fixed;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border-radius: 0.25rem;
}

.nav-bar-modal-text {
  margin: 0 0.5rem;
}

.nav-bar-modal-title {
  margin: 0.75rem 0.5rem;
}

.nav-bar-modal-button {
  width: 92px;
  margin: 1.25rem 0;
  margin-right: 0.75rem;
}

.nav-bar-buttons-spacing {
  justify-content: flex-end;
}

.header-spacing {
  align-items: baseline;
  justify-content: space-evenly;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 375px;
  }

  .center-column {
    flex-direction: row;
  }

  .center-column.modal {
    flex-direction: column;
  }

  .form-spacing {
    padding-top: 2.25rem;
  }

  .header-spacing {
    padding-top: 2rem;
  }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .container {
    max-width: 375px;
  }

  .header-spacing {
    padding-top: 2rem;
  }
}
