body {
  background-color: white;
  font-weight: 300;
}

p {
  font-family: Inter, sans-serif;
  font-size: 12px;
}

i,
button,
a {
  cursor: pointer;
}

form {
  font-family: Inter, sans-serif;
  font-size: 16px;
}

h1 {
  text-align: center;
  color: #00a000;
  font-family: "Open Sans", sans-serif;
  font-size: 44px;

  /* text-shadow: 1px 4px 2px rgb(0 0 0 / 25%); */
}

a {
  color: #00a000;
}

input {
  border: 1px solid #abb5be;
  font-family: inherit;
  font-size: inherit;
}

input::placeholder {
  color: #abb5be;
}

.lobby {
  background-color: #00a000;
}

.form-button {
  border-radius: 0.25rem;
  font-size: inherit;
  font-family: inter, sans-serif;
  color: white;
  background-color: #00a000;
  box-shadow: 0 8px 14px -4px rgb(0 0 0 / 25%);
  border: none;
}

.player-names-size {
  font-size: 26px;
  color: white;
}

.home-header-color {
  color: white;
  font-size: 32px;
}

#online-players-button {
  background-color: #fff;
  color: #f00;
  font-size: 12px;
  font-weight: 600;
  border: solid 1px #f00;
  border-radius: 0.25rem;
}

#online-players-button:hover {
  background-color: #f00;
  color: #fff;
}

.modal-box {
  background-color: #fffaf0;
}

h3 {
  font-size: 20px;
  font-family: Inter, sans-serif;
  color: #e41414;
}

.modal-text {
  border-bottom: solid 1px #d9cccc;
}

.overlay {
  background-color: rgb(29 29 29 / 75%);
}

.hidden {
  display: none;
}

.hide-icon {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.fa-x {
  background-color: transparent;
  border: none;
  color: #d9cccc;
}

.challenger-modal-box {
  background-color: #fffaf0;
}

.challenger-modal-button {
  background-color: #fff;
  color: #f00;
  font-size: 12px;
  font-weight: 600;
  border: solid 1px #f00;
  border-radius: 0.25rem;
}

.challenger-modal-button:hover {
  color: #fff;
  background-color: #f00;
}

.war-multiplayer-modal-li-button {
  background-color: transparent;
  border: none;
}

.opponent-modal-box {
  background-color: #fffaf0;
}

.player2-button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.winner-modal-button {
  font-size: 10px;
  font-family: inter, sans-serif;
  text-decoration: none;
}

.winner-modal-text {
  color: white;
  font-weight: lighter;
}

.winner-modal-title {
  color: #ffd700;
  font-size: 48px;
}

.winner-modal {
  background-color: #f00;
}

.input-error-message {
  color: red;
}

.nav-bar-modal {
  background-color: #fffaf0;
}

.fa-house {
  font-size: 28px;
  width: 28px;
  color: white;
}

.fa-right-from-bracket {
  color: white;
  font-size: 28px;
}

.battle-modal > h1 {
  color: white;
}

@keyframes text-size {
  from { font-size: 12px; }
  to { font-size: 64px; }
}

.battle-modal h1 {
  animation: text-size 0.5s ease;
}
